.placeholeder{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 1.875em;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
    width: 60%;
    height: auto;

    border-radius: 50px;
    background-color: red;
}

.top-bar {
    position: relative;
    width: 100%;
    height: 15%;
    border-radius: 49px 49px 0px 0px;
    background-color:yellow;
    font-size:55px;
    text-align: center;
}

.component{
    background-color:pink;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
    margin: 0.2083em;
    margin-top: 0.625em;
    border-radius:0.4167em;
    font-size:48px;
    text-align: center;
}
.place{
    background-color:none;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:15%;
    bottom: 0;
    right: 0;
    left: 0;
}
.label{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    /* background-color:rgb(136, 125, 117); */
    margin-top: -2.917em;
    font-size: 24px
}

.unit{
    font-size: 36px;
    text-indent: 0.278em;
}